<div>
  <%= form_for @chat, :url => chat_path(), remote: true, method: :post do |f| %>
  <%= f.text_field :message,:class=>"messages_input" %>
  <%= f.submit %>
  <% end %>
</div>
<div class="messages">
  <%= render(:partial => 'message') %>
</div>